```json
{
  "name": "tdrapied",
  "version": "<%age%>y",
  "descripton": "js fullstack dev",
  "main": "itroom.js",
  "script": {
    "work": "node .",
    "locomotion": "bike --type=mtb"
  },
  "languages": [
    "nodejs",
    "javascript",
    "php"
  ],
  "activities": {
    "cycling": {
      "activities": <%ride.activities%>
      "distance": <%ride.distance%>
    }
  }
}
```
